@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Oxygen&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: 'Staatliches', cursive;
  font-size: 16px;
  color: #222;
  background-color:#869296;
  background-image: linear-gradient(315deg, #829196 0%, #c1cdd6 74%);
  text-align: center;
  line-height: 1.4em;
}

main {
  padding: 0;
  margin-top: 40px;
}

/*---------- NAV-BAR ----------*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right:1px solid #bbb;
  cursor: pointer;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #ffc421;
}

#login-btn, #swich-btn {
  margin: 0.75em;
  background-color: #ffc421;
  cursor: pointer;
	font-size: 1em;
	font-family: 'Staatliches', cursive;
	letter-spacing: 2px;
	border: 2px solid black;
	box-shadow: 0px 0px 0px rgba(0,0,0,0.4);
}
#login-btn:hover, #swich-btn:hover {
  transform: translateY(-5px);
	box-shadow: 0px 10px 10px rgba(0,0,0,0.4);
}

#userName-input {
  font-family: 'Staatliches', cursive;
  font-size: 1em;
  width: 15em;
  height: 75%;
  text-align: center;
  border-radius: 5em;
}
/*---------- HEADERS ----------*/
h1 {
  font-family: 'Staatliches', cursive;
  letter-spacing: 4px;
  font-size: 3em;
  color: whitesmoke;
}
h3 {
  font-family: 'Staatliches', cursive;
  letter-spacing: 4px;
  font-size: 2.5em;
  padding: 1%;
  color:darkcyan;
  margin-bottom: 0.5%;
}

/*---------- IMAGES ----------*/
#logo {
  float: left;
  height: 3em;
}

/*---------- INPUT AREA ----------*/
.input-container {
  background-color: rgba(48, 136, 136, 0.5);
  margin-top: 5%;
  padding: 1%;
}
legend {
  font-family: 'Staatliches', cursive;
  letter-spacing: 4px;
  font-size: 2.5em;
  padding: 1%;
  color:darkcyan;
  margin-bottom: 0.5%;
}
#url_input{
  font-family: 'Staatliches', cursive;
  font-size: 1.5em;
  width: 50%;
  height: 2em;
  text-align: center;
  padding: 5px;
  border-radius: 5em;
}

/*---------- BUTTONS ----------*/
.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
		-webkit-tap-highlight-color: transparent;
}

#submitBtn, #statsBtn, #custom-submitBtn {
	width: 150px;
	height: 50px;
	cursor: pointer;
	font-size: 20px;
	font-family: 'Staatliches', cursive;
	letter-spacing: 5px;
	background: #ffc421;
	border: 2px solid black;
	box-shadow: 0px 0px 0px rgba(0,0,0,0.4);
	transition: 500ms;
}

#submitBtn:after, #statsBtn:after, #custom-submitBtn:after {
	content: '';
	position: absolute;
	transform: translateX(-55px) translateY(-40px);
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: transparent;
	box-shadow: 0px 0px 50px transparent;
	transition: 500ms;
}

#statsBtn:hover, #submitBtn:hover, #custom-submitBtn:hover {
	transform: translateY(-5px);
	box-shadow: 0px 10px 10px rgba(0,0,0,0.4);
}

#submitBtn:hover:after, #statsBtn:hover:after, #custom-submitBtn:hover::after {
	background: white;
	box-shadow: 0px 0px 20px #ffc421, 0px 0px 30px #ffc421, inset 0px 0px 10px #ffc421;
	animation: spin 1s infinite linear;
}

@keyframes spin{
	25%{transform: translateX(-25px) translateY(-35px);
			width: 15px;
			height: 15px;}
	50% {transform: translateX(-55px) translateY(-30px);
			width: 5px;
			height: 5px;}
	75% {transform: translateX(-85px) translateY(-35px);
			width: 15px;
			height: 15px;}
}

#submitBtn:focus, #statsBtn:focus, #custom-submitBtn:focus {
	outline: none;
}

/*---------- ERROR ----------*/
.error-messege {
  color: #de463b;
  font-size: 2em;
  margin: 1em;
}

/*---------- ANSWER ----------*/
#answer {
  font-family: 'Staatliches', cursive;
  display: none;
  font-size: 25px;
  margin: 2em;
  padding: 1em;
  background-color: floralwhite;
  border-width: 0.2em;
  border-color: rgb(65, 125, 165);
  border-style: solid;
  border-radius: 0.5em;
}

.close-btn, .copy-btn {
  margin-right: 0.5em;
  background-color: #ffc421;
  cursor: pointer;
	font-size: 1em;
	font-family: 'Staatliches', cursive;
	letter-spacing: 2px;
	border: 2px solid black;
	box-shadow: 0px 0px 0px rgba(0,0,0,0.4);
  float: right;
}
.close-btn:hover, .copy-btn:hover {
  transform: translateY(-5px);
	box-shadow: 0px 10px 10px rgba(0,0,0,0.4);
}

/*---------- STATISTICS ----------*/
.statistics-div {
  display: flex;
  flex-direction: column;
  height: auto;
  margin-top: 1em;
  background-color:lightslategrey;
}
#stat_input {
  font-family: 'Staatliches', cursive;
  font-size: 1.5em;
  width: 50%;
  height: 1em;
  text-align: center;
  padding: 5px;
  border-radius: 5em;
  align-self: center;
}
#stats-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1em;
}
#statistics-logo {
  background-color: inherit;
  height: 15em;
  width: 20em;
}
#statistics-info {
  line-height: 3em;
  text-align: left;
}
#creationDate, #redirectCount, #originalUrl, #id {
  color: #ffc421;
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
  text-align: center;
  margin-left: 1em;
}
#originalUrl { 
  text-align: left;
  width: 30em !important; 
  overflow: auto !important; 
}
.stats-label{
  font-family: 'Staatliches', cursive;
  font-size: 2em;
  color: #222;
  text-align: center;
} 

/*---------- USER MANAGMENT ----------*/
#usres-div {
    background-color: rgba(48, 136, 102, 0.5);
    margin-top: 1em;
    padding: 1%;
}
#hello-user {
  color: #222;
  text-align: left;
}
#slash {
  font-size: 2em;
  margin: 0.5em;
}
#custom-url_input, #custom-word_input {
  font-family: 'Staatliches', cursive;
  font-size: 1em;
  width: 25%;
  height: 1em;
  text-align: center;
  padding: 5px;
  border-radius: 5em;
}

#history-btn {
  margin: 0.75em;
  background-color: #ffc421;
  cursor: pointer;
	font-size: 1em;
	font-family: 'Staatliches', cursive;
	letter-spacing: 2px;
	border: 2px solid black;
	box-shadow: 0px 0px 0px rgba(0,0,0,0.4);
}
#history-btn:hover {
  transform: translateY(-5px);
	box-shadow: 0px 10px 10px rgba(0,0,0,0.4);
}
.history-part {
  line-height: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  margin-bottom: 1em;
  background-color: rgba(48, 136, 102, 0.3);
}
.history-date {
  color: #ffc421;
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
  text-align: left;
}
.history-url {
  font-family: 'Staatliches', cursive;
  font-size: 1.5em;
  color: #222;
  text-align: left;
}
/*---------- FOOTER ----------*/
footer {
  background-color: #f0da9f;
  width: 100%;
  position: relative;
  top: 85%;
  font-family: "Poppins", sans-serif;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
.wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.wrapper .icon {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 10px;
  margin-top: 5px;
  margin-left: 25px;
  width: 30px;
  height: 30px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}

/*  */
.hide {
  display: none;
}